<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Конфигуратор ПК</title>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const components = [
            {id: 'ryzen5', detail: 'Ryzen 5 5600'},
            {id: 'ryzen7', detail: 'Ryzen 7 5800X'},
            {id: 'a520', detail: 'MSI A520M-A PRO'},
            {id: 'b550', detail: 'MSI B550-A PRO'},
            {id: 'ag200', detail: 'DEEPCOOL AG200'},
            {id: 'se224', detail: 'ID-COOLING SE-224-XTS'},
            {id: 'd1016', detail: 'ADATA XPG GAMMIX D10 16 GB'},
            {id: 'fury32', detail: 'Kingston FURY Beast Black 32 GB'},
            {id: '3050', detail: 'Palit GeForce RTX 3050 StormX'},
            {id: '4070', detail: 'KFA2 GeForce RTX 4070 X 3FAN Black'},
            {id: 'pf450', detail: 'DEEPCOOL PF450'},
            {id: '600w', detail: 'be quiet! Pure Power 11 600W'},
            {id: '700g', detail: 'ADATA LEGEND 700 GOLD 512 GB'},
            {id: 's980', detail: 'Samsung 980 1000 GB'},
            {id: 'dc30', detail: 'DEEPCOOL MATREXX 30'},
            {id: 'dc50', detail: 'DEEPCOOL MATREXX 50'}
        ];

        components.forEach(component => {
            fetch(`/get_latest_price/${component.detail}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`price-${component.id}`).textContent = `Цена: ${data.price} руб.`;
                })
                .catch(error => console.error('Error fetching price:', error));
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Function to fetch and display price history
        async function fetchAndDisplayPriceHistory(detailName, chartId) {
            try {
                const response = await fetch(`/get_price_history/${encodeURIComponent(detailName)}`);
                const data = await response.json();
    
                if (data.error) {
                    console.error(data.error);
                    return;
                }
    
                const labels = data.prices.map(p => p.date);
                const prices = data.prices.map(p => p.price);
    
                const ctx = document.getElementById(chartId).getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Цена',
                            data: prices,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            fill: false,
                            pointBackgroundColor: 'rgba(75, 192, 192, 1)'
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Дата'
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Цена (руб.)'
                                }
                            }
                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function(context) {
                                        return `Цена: ${context.raw} руб.`;
                                    },
                                    afterLabel: function(context) {
                                        return `Дата: ${context.label}`;
                                    }
                                }
                            }
                        }
                    }
                });
            } catch (error) {
                console.error('Error fetching price history:', error);
            }
        }
    
        // Initialize charts for all components
        fetchAndDisplayPriceHistory('Ryzen 5 5600', 'price-chart-ryzen5');
        fetchAndDisplayPriceHistory('Ryzen 7 5800X', 'price-chart-ryzen7');
    });
    </script>
    
    

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<style>
    .component-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .component-info img {
        width: 100px;
    }
    .component-info .details {
        flex-grow: 1;
        margin-left: 10px;
    }
    .component-info .price-chart-button,
    .component-info .add-btn {
        margin-left: 10px;
        padding: 8px 12px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .component-info .price-chart-button {
        background-color: #007BFF;
        color: white;
    }
    .component-info .add-btn {
        background-color: #28A745;
        color: white;
    }
    .component-info .price-chart-button:hover,
    .component-info .add-btn:hover {
        opacity: 0.8;
    }
    .price-chart {
        display: none;
    }
    /* Добавить стили для кнопки "Сохранить" */
    #save-button {
        display: none;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
    }
    #save-button:hover {
        opacity: 0.8;
    }
    
</style>
</head>
<body>

<header>
    <div class="logo">
        <a href="{{ url_for('index') }}">СборкаКомпьютеров</a>
    </div>
    <div class="account-btn">
        <button class="account-btn" onclick="location.href='{{ url_for('personal_account') }}'">Личный кабинет</button>
    </div>
</header>


<main>
    <section class="configurator">
        <h1>Соберите свой ПК</h1>
        <section class="selected-components">
            <h2>Ваша конфигурация</h2>
            <div id="configuration">
                <div id="config-processor"><h3>Процессор</h3></div>
                <div id="config-plata"><h3>Материнская плата</h3></div>
                <div id="config-ohlad"><h3>Охлаждение</h3></div>
                <div id="config-ozu"><h3>Оперативная память</h3></div>
                <div id="config-video"><h3>Видеокарта</h3></div>
                <div id="config-power"><h3>Блок питания</h3></div>
                <div id="config-ssd"><h3>Накопитель</h3></div>
                <div id="config-case"><h3>Корпус</h3></div>
            </div>
            <button id="save-button">Сохранить</button>
        </section>
        <div class="component" id="processor">
            <h2>Процессор</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/processor1.jpg') }}" alt="AMD Ryzen 5 5600">
                    <div class="details">
                        <h2>AMD Ryzen 5 5600</h2>
                        <p>[AM4, 6 x 3.5 ГГц, L2 - 3 МБ, L3 - 32 МБ, 2 х DDR4-3200 МГц, TDP 65 Вт]</p>
                        <span id="price-ryzen5">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <canvas id="price-chart-ryzen5" width="400" height="200"></canvas>
                </div>
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/processor2.jpg') }}" alt="AMD Ryzen 7 5800X">
                    <div class="details">
                        <h2>AMD Ryzen 7 5800X</h2>
                        <p>[AM4, 8 x 3.8 ГГц, L2 - 4 МБ, L3 - 32 МБ, 2 х DDR4-3200 МГц, TDP 105 Вт]</p>
                        <span id="price-ryzen7">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <canvas id="price-chart-ryzen7" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        </div>
        <!-- Добавляем новые подразделы -->
        <div class="component" id="plata">
            <h2>Материнская плата</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/plata1.jpg') }}" alt="MSI A520M-A PRO">
                    <div class="details">
                      <h2>MSI A520M-A PRO</h2>
                      <p>[AM4, AMD A520, 2xDDR4-3200 МГц, 1xPCI-Ex16, 1xM.2, Micro-ATX]</p>
                      <span id="price-a520">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-a520"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/plata2.jpg') }}" alt="MSI B550-A PRO">
                    <div class="details">
                      <h2>MSI B550-A PRO</h2>
                      <p>[AM4, AMD B550, 4xDDR4-3200 МГц, 2xPCI-Ex16, 2xM.2, Standard-ATX]</p>
                      <span id="price-b550">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <canvas id="price-chart-ryzen7" width="400" height="200"></canvas>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-b550"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="ohlad">
            <h2>Охлаждение</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/ohlad1.jpg') }}" alt="DEEPCOOL AG200">
                    <div class="details">
                      <h2>DEEPCOOL AG200</h2>
                      <p>[основание - алюминий\медь, 3050 об/мин, 30.5 дБ, 4 pin, 100 Вт]</p>
                      <span id="price-ag200">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-ag200"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/ohlad2.jpg') }}" alt="ID-COOLING SE-224-XTS">
                    <div class="details">
                      <h2>ID-COOLING SE-224-XTS</h2>
                      <p>[основание - алюминий\медь, 1500 об/мин, 28.9 дБ, 4 pin, 220 Вт]</p>
                      <span id="price-se224">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-se224"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="ozu">
            <h2>Оперативная память</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/memory1.jpg') }}" alt="ADATA XPG GAMMIX D10">
                    <div class="details">
                      <h2>ADATA XPG GAMMIX D10 16 GB</h2>
                      <p>[DDR4, 8 ГБx2 шт, 3600 МГц, 18-22-22]</p>
                      <span id="price-d1016">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-d1016"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/memory2.jpg') }}" alt="Kingston FURY Beast Black">
                    <div class="details">
                      <h2>Kingston FURY Beast Black 32 GB</h2>
                      <p>[DDR4, 16 ГБx2 шт, 3600 МГц, 18-22-22]</p>
                      <span id="price-fury32">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-fury"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="video">
            <h2>Видеокарта</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/video1.jpg') }}" alt="RTX 3050">
                    <div class="details">
                      <h2>Palit GeForce RTX 3050 StormX</h2>
                      <p>[PCI-E 4.0 6 ГБ GDDR6, 96 бит, DisplayPort, DVI-D, HDMI, GPU 1042 МГц]</p>
                      <span id="price-3050">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-3050"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/video2.jpg') }}" alt="RTX 4070">
                    <div class="details">
                      <h2>KFA2 GeForce RTX 4070 X 3FAN Black</h2>
                      <p>[PCI-E 4.0 12 ГБ GDDR6X, 192 бит, 3 x DisplayPort, HDMI, GPU 1920 МГц]</p>
                      <span id="price-4070">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-4070"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="power">
            <h2>Блок питания</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/blok1.jpg') }}" alt="DEEPCOOL PF450">
                    <div class="details">
                      <h2>DEEPCOOL PF450</h2>
                      <p>[450 Вт, 80+, APFC, 20 + 4 pin, 4+4 pin CPU, 6 SATA, 6+2 pin x2 PCI-E]</p>
                      <span id="price-pf450">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-pf450"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/blok2.jpg') }}" alt="be quiet! Pure Power 11 600W">
                    <div class="details">
                      <h2>be quiet! Pure Power 11 600W</h2>
                      <p>[600 Вт, 80+ Gold, APFC, 20 + 4 pin, 4+4 pin CPU, 6 SATA, 6+2 pin x4 PCI-E]</p>
                      <span id="price-600w">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-bq600"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="ssd">
            <h2>Накопитель</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/nak1.jpg') }}" alt="ADATA LEGEND 700 GOLD 512GB">
                    <div class="details">
                      <h2>ADATA LEGEND 700 GOLD 512 GB</h2>
                      <p>[PCI-E 3.x x4, чтение - 2000 Мбайт/сек, запись - 1600 Мбайт/сек, NVM Express]</p>
                      <span id="price-700g">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-ad700"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/nak2.jpg') }}" alt="Samsung 980 1000 GB">
                    <div class="details">
                      <h2>Samsung 980 1000 GB</h2>
                      <p>[PCI-E 3.x x4, чтение - 3500 Мбайт/сек, запись - 3000 Мбайт/сек, 3 бит MLC (TLC), NVM Express]</p>
                      <span id="price-s980">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-980"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="component" id="case">
            <h2>Корпус</h2>
            <button class="expand-btn">+</button>
            <div class="additional-info" style="display:none;">
                <div class="component-info">
                    <img src="{{ url_for('static', filename='images/corp1.jpg') }}" alt="DEEPCOOL MATREXX 30">
                    <div class="details">
                      <h2>DEEPCOOL MATREXX 30</h2>
                      <p>[Mini-Tower, Micro-ATX, Mini-ITX, USB 2.0 Type-A, USB 3.2 Gen 1 Type-A, 1 x 120 мм]</p>
                      <span id="price-dc30">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-dc30"></div>
                  </div>
                  <div class="component-info">
                    <img src="{{ url_for('static', filename='images/corp2.jpg') }}" alt="DEEPCOOL MATREXX 50">
                    <div class="details">
                      <h2>DEEPCOOL MATREXX 50</h2>
                      <p>[Mid-Tower, E-ATX, Micro-ATX, Mini-ITX, Standard-ATX, USB 2.0 Type-A, USB 3.2 Gen 1 Type-A, 1 x 120 мм]</p>
                      <span id="price-dc50">Цена: ХХХХ руб.</span>
                    </div>
                    <button class="add-btn">+</button>
                    <button class="price-chart-button">График цен</button>
                    <!-- Элемент для графика цен -->
                    <div class="price-chart" id="price-chart-dc50"></div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function setupExpandButtons() {
        var expandButtons = document.querySelectorAll('.expand-btn');
        expandButtons.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var component = btn.closest('.component');
                var info = component.querySelector('.additional-info');
                info.style.display = info.style.display === 'none' ? 'block' : 'none';
                btn.textContent = info.style.display === 'block' ? '-' : '+';
            });
        });
    }

    function addToConfiguration(section, name) {
    const sectionNames = {
        'processor': 'Процессор',
        'plata': 'Материнская плата',
        'ohlad': 'Охлаждение',
        'ozu': 'Оперативная память',
        'video': 'Видеокарта',
        'power': 'Блок питания',
        'ssd': 'Накопитель',
        'case': 'Корпус'
    };

    const configSection = document.getElementById('config-' + section);
    if (configSection && sectionNames[section]) {
        configSection.innerHTML = `<h3>${sectionNames[section]}: ${name}</h3>`;
    }
    checkSaveButton(); // Добавляем проверку кнопки после обновления раздела
}
function checkSaveButton() {
    const sections = ['processor', 'plata', 'ohlad', 'ozu', 'video', 'power', 'ssd', 'case'];
    const allFilled = sections.every(section => {
        const configSection = document.getElementById('config-' + section);
        return configSection && configSection.innerHTML.trim() !== '';
    });

    let saveButton = document.getElementById('save-button');
    if (allFilled) {
        if (!saveButton) {
            saveButton = document.createElement('button');
            saveButton.id = 'save-button';
            saveButton.textContent = 'Сохранить';
            document.getElementById('configuration').appendChild(saveButton);
        }
        saveButton.style.display = 'block';
    } else if (saveButton) {
        saveButton.style.display = 'none';
    }
}

function setupAddButtons() {
    var addButtons = document.querySelectorAll('.add-btn');
    addButtons.forEach(function(btn) {
        btn.addEventListener('click', function() {
            var component = btn.closest('.component-info');
            var componentName = component.querySelector('h2').textContent;
            var section = btn.closest('.component').id; // Получаем id родительского элемента
            addToConfiguration(section, componentName);
        });
    });
}

document.addEventListener('DOMContentLoaded', function() {
    setupExpandButtons();
    setupAddButtons();

    const saveButton = document.getElementById('save-button');
    if (saveButton) {
        saveButton.addEventListener('click', function() {
            // Collect configuration data
            const config = {};
            const sections = ['processor', 'plata', 'ohlad', 'ozu', 'video', 'power', 'ssd', 'case'];
            sections.forEach(section => {
                const configSection = document.getElementById('config-' + section);
                if (configSection && configSection.innerHTML.trim() !== '') {
                    config[section] = configSection.innerText.replace(`${section[0].toUpperCase() + section.slice(1)}: `, '').trim();
                }
            });

            // Send the data to the server
            fetch('/save_configuration', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(config),
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url; // Redirect if not authenticated
                } else {
                    return response.json();
                }
            })
            .then(data => {
                if (data.success) {
                    alert('Конфигурация успешно сохранена!');
                } else {
                    alert('Произошла ошибка при сохранении конфигурации.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    }
});
</script>
</body>
</html>