<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <div class="logo">
        <a href="{{ url_for('index') }}">СборкаКомпьютеров</a>
    </div>
    <nav>
        {% if username %}
            <span class="account-name">{{ username }}</span>
        {% else %}
            <button class="account-btn" onclick="location.href='{{ url_for('personal_account') }}'">Личный кабинет</button>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>